.header {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    position: sticky;
    padding: 0;
}

.blog-name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
    padding: 2rem;
    padding-left: 20rem;
}

.blog-name h1 {
    font-size: 3rem;
    margin: 0;
}

.blog-name p {
    font-size: 1.5rem;
    margin: 0;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: stretch;
    flex-grow: 1;
}

.nav-menu button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px;
    margin: 0 10px;
    font-size: 2rem;
    cursor: pointer;
    flex-grow: 1;
}

.nav-menu button:hover {
    background-color: white;
    color: black;
    transition: 0.8s;
}

