.footer {
    background-color: black;
    color: white;
    position: sticky;
    padding: 0;
    flex-grow: 1;
    margin-top: 1.5rem;
    height: 150px;
}

.footer p {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
    padding: 2rem;
    padding-left: 10rem;
    font-size: 1.5rem;
}